# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/.idea/shelf/.xml
/internal/console/excel/.~听写内容数据汇总.xlsx
/.idea/dataSources/8e261d4d-e086-43de-857d-21b181a2fc1c.xml
/.idea/shelf/不提交/[结果]内容云试题信息0613.xlsx
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/git_toolbox_prj.xml
/.idea/httpRequests/http-requests-log.http
/.idea/dataSources/8e261d4d-e086-43de-857d-21b181a2fc1c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/modules.xml
/.idea/dataSources/8e261d4d-e086-43de-857d-21b181a2fc1c/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/8e261d4d-e086-43de-857d-21b181a2fc1c/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/rika-kratos.iml
/.idea/shelf/不提交/shelved.patch
/.idea/sqldialects.xml
/.idea/dataSources/8e261d4d-e086-43de-857d-21b181a2fc1c/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/不提交/内容云试题信息0613.xlsx
/internal/console/excel/听一听英语资源汇总.xlsx
/internal/console/sql/听写内容数据汇总.sql
/internal/console/excel/听写内容数据汇总.xlsx
/internal/console/sql/听写内容数据汇总2.sql
/internal/console/excel/听写内容数据汇总2.xlsx
/internal/console/sql/听写内容数据汇总3.sql
/internal/console/excel/听写字词表.xlsx
/.idea/*

